.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.stripe{
height: 200px;
width: 600px;
}
.blue{
background-color: #0056B8;
}
.yellow{
background-color:#FFD800 ;
}
.black{
background-color: black;
}
.flag{
   margin:auto; 
   width: 600px;
   height: 400px;
}
.body{
width:100%;
}